@keyframes slideInUp {
    from    { transform:translateY(10%); opacity: 0.3; }
    to      { transform: translateY(0); opacity: 1; }
}

.ng-enter           { animation: slideInUp 0.2s both ease-in; z-index: 8888; }

.col-centered {
    float: none;
    margin: 0 auto;
}